<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<CONFIGURACION>
    <SERVIDOR>
        <MULTICAST>224.0.0.3</MULTICAST>
        <SERV>192.168.1.91</SERV>
        <ESC>4050</ESC>
        <PortUDP>5001</PortUDP>
        <ASIO>
            <CANAL id="chido 1">5001</CANAL>
            <CANAL id="channel 2">5001</CANAL>
            <CANAL id="channel 3">5001</CANAL>
            <CANAL id="channel 4">5001</CANAL>
            <CANAL id="channel 5">5001</CANAL>
            <CANAL id="channel 6">5001</CANAL>
            <CANAL id="channel 7">5001</CANAL>
            <CANAL id="channel 8">5001</CANAL>
            <CANAL id="channel 9">5001</CANAL>
            <CANAL id="channel 10">5001</CANAL>
            <CANAL id="channel 11">5001</CANAL>
            <CANAL id="channel 12">5001</CANAL>
            <CANAL id="channel 13">5001</CANAL>
            <CANAL id="channel 14">5001</CANAL>
            <CANAL id="channel 15">5001</CANAL>
            <CANAL id="channel 16">5001</CANAL>
            <CANAL id="channel 17">5001</CANAL>
            <CANAL id="channel 18">5001</CANAL>
            <CANAL id="channel 19">5001</CANAL>
            <CANAL id="channel 20">5001</CANAL>
            <CANAL id="canal 21">5001</CANAL>
            <CANAL id="channel 22">5001</CANAL>
            <CANAL id="channel 23">5001</CANAL>
            <CANAL id="channel 24">5001</CANAL>
            <CANAL id="channel 25">5001</CANAL>
            <CANAL id="channel 26">5001</CANAL>
            <CANAL id="channel 27">5001</CANAL>
            <CANAL id="channel 28">5001</CANAL>
            <CANAL id="channel 29">5001</CANAL>
            <CANAL id="channel 30">5001</CANAL>
            <CANAL id="channel 31">5001</CANAL>
            <CANAL id="channel 32">5001</CANAL>
            <CANAL id="channel 33">5001</CANAL>
            <CANAL id="channel 34">5001</CANAL>
            <CANAL id="channel 35">5001</CANAL>
            <CANAL id="channel 36">5001</CANAL>
            <CANAL id="channel 37">5001</CANAL>
            <CANAL id="channel 38">5001</CANAL>
            <CANAL id="channel 39">5001</CANAL>
            <CANAL id="channel 40">5001</CANAL>
            <CANAL id="channel 41">5001</CANAL>
            <CANAL id="channel 42">5001</CANAL>
            <CANAL id="channel 43">5001</CANAL>
            <CANAL id="channel 44">5001</CANAL>
            <CANAL id="channel 45">5001</CANAL>
            <CANAL id="channel 46">5001</CANAL>
            <CANAL id="channel 47">5001</CANAL>
            <CANAL id="channel 48">5001</CANAL>
            <CANAL id="channel 49">5001</CANAL>
            <CANAL id="channel 50">5001</CANAL>
            <CANAL id="channel 51">5001</CANAL>
            <CANAL id="channel 52">5001</CANAL>
            <CANAL id="channel 53">5001</CANAL>
            <CANAL id="channel 54">5001</CANAL>
            <CANAL id="channel 55">5001</CANAL>
            <CANAL id="channel 56">5001</CANAL>
            <CANAL id="channel 57">5001</CANAL>
            <CANAL id="channel 58">5001</CANAL>
            <CANAL id="channel 59">5001</CANAL>
            <CANAL id="channel 60">5001</CANAL>
            <CANAL id="channel 61">5001</CANAL>
            <CANAL id="channel 62">5001</CANAL>
            <CANAL id="channel 63">5001</CANAL>
            <CANAL id="channel 64">5001</CANAL>
            <CANAL id="channel 65">5001</CANAL>
            <CANAL id="channel 66">5001</CANAL>
            <CANAL id="channel 67">5001</CANAL>
            <CANAL id="channel 68">5001</CANAL>
            <CANAL id="channel 69">5001</CANAL>
            <CANAL id="channel 70">5001</CANAL>
            <CANAL id="channel 71">5001</CANAL>
            <CANAL id="channel 72">5001</CANAL>
            <CANAL id="channel 73">5001</CANAL>
            <CANAL id="channel 74">5001</CANAL>
            <CANAL id="channel 75">5001</CANAL>
            <CANAL id="channel 76">5001</CANAL>
            <CANAL id="channel 77">5001</CANAL>
            <CANAL id="channel 78">5001</CANAL>
            <CANAL id="channel 79">5001</CANAL>
            <CANAL id="channel 80">5001</CANAL>
            <CANAL id="channel 81">5001</CANAL>
            <CANAL id="channel 82">5001</CANAL>
            <CANAL id="channel 83">5001</CANAL>
            <CANAL id="channel 84">5001</CANAL>
            <CANAL id="channel 85">5001</CANAL>
            <CANAL id="channel 86">5001</CANAL>
            <CANAL id="channel 87">5001</CANAL>
            <CANAL id="channel 88">5001</CANAL>
            <CANAL id="channel 89">5001</CANAL>
            <CANAL id="channel 90">5001</CANAL>
            <CANAL id="channel 91">5001</CANAL>
            <CANAL id="channel 92">5001</CANAL>
            <CANAL id="channel 93">5001</CANAL>
            <CANAL id="channel 94">5001</CANAL>
            <CANAL id="channel 95">5001</CANAL>
            <CANAL id="channel 96">5001</CANAL>
            <CANAL id="channel 97">5001</CANAL>
            <CANAL id="channel 98">5001</CANAL>
            <CANAL id="channel 99">5001</CANAL>
            <CANAL id="channel 100">5001</CANAL>
            <CANAL id="channel 101">5001</CANAL>
            <CANAL id="channel 102">5001</CANAL>
            <CANAL id="channel 103">5001</CANAL>
            <CANAL id="channel 104">5001</CANAL>
            <CANAL id="channel 105">5001</CANAL>
            <CANAL id="channel 106">5001</CANAL>
            <CANAL id="channel 107">5001</CANAL>
            <CANAL id="channel 108">5001</CANAL>
            <CANAL id="channel 109">5001</CANAL>
            <CANAL id="channel 110">5001</CANAL>
            <CANAL id="channel 111">5001</CANAL>
            <CANAL id="channel 112">5001</CANAL>
            <CANAL id="channel 113">5001</CANAL>
            <CANAL id="channel 114">5001</CANAL>
            <CANAL id="channel 115">5001</CANAL>
            <CANAL id="channel 116">5001</CANAL>
            <CANAL id="channel 117">5001</CANAL>
            <CANAL id="channel 118">5001</CANAL>
            <CANAL id="channel 119">5001</CANAL>
            <CANAL id="channel 120">5001</CANAL>
            <CANAL id="channel 121">5001</CANAL>
            <CANAL id="channel 122">5001</CANAL>
            <CANAL id="channel 123">5001</CANAL>
            <CANAL id="channel 124">5001</CANAL>
            <CANAL id="channel 125">5001</CANAL>
            <CANAL id="channel 126">5001</CANAL>
            <CANAL id="channel 127">5001</CANAL>
            <CANAL id="channel 128">5001</CANAL>
            <FRECUENCIA>44100</FRECUENCIA>
            <MUESTRA>64</MUESTRA>
            <NETWORK>default</NETWORK>
        </ASIO>
        <pathimage/>
    </SERVIDOR>
    <ASIO>
        <CANAL id="chido 1">5001</CANAL>
            <CANAL id="channel 2">5001</CANAL>
            <CANAL id="channel 3">5001</CANAL>
            <CANAL id="channel 4">5001</CANAL>
            <CANAL id="channel 5">5001</CANAL>
            <CANAL id="channel 6">5001</CANAL>
            <CANAL id="channel 7">5001</CANAL>
            <CANAL id="channel 8">5001</CANAL>
            <CANAL id="channel 9">5001</CANAL>
            <CANAL id="channel 10">5001</CANAL>
            <CANAL id="channel 11">5001</CANAL>
            <CANAL id="channel 12">5001</CANAL>
            <CANAL id="channel 13">5001</CANAL>
            <CANAL id="channel 14">5001</CANAL>
            <CANAL id="channel 15">5001</CANAL>
            <CANAL id="channel 16">5001</CANAL>
            <CANAL id="channel 17">5001</CANAL>
            <CANAL id="channel 18">5001</CANAL>
            <CANAL id="channel 19">5001</CANAL>
            <CANAL id="channel 20">5001</CANAL>
            <CANAL id="canal 21">5001</CANAL>
            <CANAL id="channel 22">5001</CANAL>
            <CANAL id="channel 23">5001</CANAL>
            <CANAL id="channel 24">5001</CANAL>
            <CANAL id="channel 25">5001</CANAL>
            <CANAL id="channel 26">5001</CANAL>
            <CANAL id="channel 27">5001</CANAL>
            <CANAL id="channel 28">5001</CANAL>
            <CANAL id="channel 29">5001</CANAL>
            <CANAL id="channel 30">5001</CANAL>
            <CANAL id="channel 31">5001</CANAL>
            <CANAL id="channel 32">5001</CANAL>
            <CANAL id="channel 33">5001</CANAL>
            <CANAL id="channel 34">5001</CANAL>
            <CANAL id="channel 35">5001</CANAL>
            <CANAL id="channel 36">5001</CANAL>
            <CANAL id="channel 37">5001</CANAL>
            <CANAL id="channel 38">5001</CANAL>
            <CANAL id="channel 39">5001</CANAL>
            <CANAL id="channel 40">5001</CANAL>
            <CANAL id="channel 41">5001</CANAL>
            <CANAL id="channel 42">5001</CANAL>
            <CANAL id="channel 43">5001</CANAL>
            <CANAL id="channel 44">5001</CANAL>
            <CANAL id="channel 45">5001</CANAL>
            <CANAL id="channel 46">5001</CANAL>
            <CANAL id="channel 47">5001</CANAL>
            <CANAL id="channel 48">5001</CANAL>
            <CANAL id="channel 49">5001</CANAL>
            <CANAL id="channel 50">5001</CANAL>
            <CANAL id="channel 51">5001</CANAL>
            <CANAL id="channel 52">5001</CANAL>
            <CANAL id="channel 53">5001</CANAL>
            <CANAL id="channel 54">5001</CANAL>
            <CANAL id="channel 55">5001</CANAL>
            <CANAL id="channel 56">5001</CANAL>
            <CANAL id="channel 57">5001</CANAL>
            <CANAL id="channel 58">5001</CANAL>
            <CANAL id="channel 59">5001</CANAL>
            <CANAL id="channel 60">5001</CANAL>
            <CANAL id="channel 61">5001</CANAL>
            <CANAL id="channel 62">5001</CANAL>
            <CANAL id="channel 63">5001</CANAL>
            <CANAL id="channel 64">5001</CANAL>
            <CANAL id="channel 65">5001</CANAL>
            <CANAL id="channel 66">5001</CANAL>
            <CANAL id="channel 67">5001</CANAL>
            <CANAL id="channel 68">5001</CANAL>
            <CANAL id="channel 69">5001</CANAL>
            <CANAL id="channel 70">5001</CANAL>
            <CANAL id="channel 71">5001</CANAL>
            <CANAL id="channel 72">5001</CANAL>
            <CANAL id="channel 73">5001</CANAL>
            <CANAL id="channel 74">5001</CANAL>
            <CANAL id="channel 75">5001</CANAL>
            <CANAL id="channel 76">5001</CANAL>
            <CANAL id="channel 77">5001</CANAL>
            <CANAL id="channel 78">5001</CANAL>
            <CANAL id="channel 79">5001</CANAL>
            <CANAL id="channel 80">5001</CANAL>
            <CANAL id="channel 81">5001</CANAL>
            <CANAL id="channel 82">5001</CANAL>
            <CANAL id="channel 83">5001</CANAL>
            <CANAL id="channel 84">5001</CANAL>
            <CANAL id="channel 85">5001</CANAL>
            <CANAL id="channel 86">5001</CANAL>
            <CANAL id="channel 87">5001</CANAL>
            <CANAL id="channel 88">5001</CANAL>
            <CANAL id="channel 89">5001</CANAL>
            <CANAL id="channel 90">5001</CANAL>
            <CANAL id="channel 91">5001</CANAL>
            <CANAL id="channel 92">5001</CANAL>
            <CANAL id="channel 93">5001</CANAL>
            <CANAL id="channel 94">5001</CANAL>
            <CANAL id="channel 95">5001</CANAL>
            <CANAL id="channel 96">5001</CANAL>
            <CANAL id="channel 97">5001</CANAL>
            <CANAL id="channel 98">5001</CANAL>
            <CANAL id="channel 99">5001</CANAL>
            <CANAL id="channel 100">5001</CANAL>
            <CANAL id="channel 101">5001</CANAL>
            <CANAL id="channel 102">5001</CANAL>
            <CANAL id="channel 103">5001</CANAL>
            <CANAL id="channel 104">5001</CANAL>
            <CANAL id="channel 105">5001</CANAL>
            <CANAL id="channel 106">5001</CANAL>
            <CANAL id="channel 107">5001</CANAL>
            <CANAL id="channel 108">5001</CANAL>
            <CANAL id="channel 109">5001</CANAL>
            <CANAL id="channel 110">5001</CANAL>
            <CANAL id="channel 111">5001</CANAL>
            <CANAL id="channel 112">5001</CANAL>
            <CANAL id="channel 113">5001</CANAL>
            <CANAL id="channel 114">5001</CANAL>
            <CANAL id="channel 115">5001</CANAL>
            <CANAL id="channel 116">5001</CANAL>
            <CANAL id="channel 117">5001</CANAL>
            <CANAL id="channel 118">5001</CANAL>
            <CANAL id="channel 119">5001</CANAL>
            <CANAL id="channel 120">5001</CANAL>
            <CANAL id="channel 121">5001</CANAL>
            <CANAL id="channel 122">5001</CANAL>
            <CANAL id="channel 123">5001</CANAL>
            <CANAL id="channel 124">5001</CANAL>
            <CANAL id="channel 125">5001</CANAL>
            <CANAL id="channel 126">5001</CANAL>
            <CANAL id="channel 127">5001</CANAL>
            <CANAL id="channel 128">5001</CANAL>
        <FRECUENCIA>44100</FRECUENCIA>
        <MUESTRA>64</MUESTRA>
        <NETWORK>default</NETWORK>
    </ASIO>
    <IMAGES>
        <IMAGE>C:\Users\audio\OneDrive\Imágenes\Saved Pictures\foto Logo AVS.jpg</IMAGE>
        <IMAGE>no_image.png</IMAGE>
        <IMAGE>C:\Users\audio\OneDrive\Imágenes\Saved Pictures\foto Logo AVS.jpg</IMAGE>
        <IMAGE>no_image.png</IMAGE>
        <IMAGE>no_image.png</IMAGE>
        <IMAGE>no_image.png</IMAGE>
        <IMAGE>no_image.png</IMAGE>
        <IMAGE>no_image.png</IMAGE>
        <IMAGE>C:\Users\audio\OneDrive\Imágenes\Saved Pictures\foto Logo AVS.jpg</IMAGE>
        <IMAGE>no_image.png</IMAGE>
        <IMAGE>no_image.png</IMAGE>
        <IMAGE>no_image.png</IMAGE>
        <IMAGE>no_image.png</IMAGE>
        <IMAGE>no_image.png</IMAGE>
        <IMAGE>no_image.png</IMAGE>
        <IMAGE>no_image.png</IMAGE>
        <IMAGE>C:\Users\audio\OneDrive\Imágenes\Saved Pictures\foto Logo AVS.jpg</IMAGE>
        <IMAGE>no_image.png</IMAGE>
        <IMAGE>no_image.png</IMAGE>
        <IMAGE>no_image.png</IMAGE>
        <IMAGE>no_image.png</IMAGE>
        <IMAGE>no_image.png</IMAGE>
        <IMAGE>no_image.png</IMAGE>
        <IMAGE>no_image.png</IMAGE>
        <IMAGE>C:\Users\audio\OneDrive\Imágenes\Saved Pictures\foto Logo AVS.jpg</IMAGE>
        <IMAGE>no_image.png</IMAGE>
        <IMAGE>no_image.png</IMAGE>
        <IMAGE>no_image.png</IMAGE>
        <IMAGE>no_image.png</IMAGE>
        <IMAGE>no_image.png</IMAGE>
        <IMAGE>no_image.png</IMAGE>
        <IMAGE>no_image.png</IMAGE>
        <IMAGE>no_image.png</IMAGE>
        <IMAGE>no_image.png</IMAGE>
        <IMAGE>no_image.png</IMAGE>
        <IMAGE>no_image.png</IMAGE>
        <IMAGE>no_image.png</IMAGE>
        <IMAGE>no_image.png</IMAGE>
        <IMAGE>no_image.png</IMAGE>
        <IMAGE>no_image.png</IMAGE>
        <IMAGE>no_image.png</IMAGE>
        <IMAGE>no_image.png</IMAGE>
        <IMAGE>no_image.png</IMAGE>
        <IMAGE>no_image.png</IMAGE>
        <IMAGE>no_image.png</IMAGE>
        <IMAGE>no_image.png</IMAGE>
        <IMAGE>no_image.png</IMAGE>
        <IMAGE>no_image.png</IMAGE>
        <IMAGE>no_image.png</IMAGE>
        <IMAGE>no_image.png</IMAGE>
        <IMAGE>no_image.png</IMAGE>
        <IMAGE>no_image.png</IMAGE>
        <IMAGE>no_image.png</IMAGE>
        <IMAGE>no_image.png</IMAGE>
        <IMAGE>no_image.png</IMAGE>
        <IMAGE>no_image.jpg</IMAGE>
        <IMAGE>no_image.png</IMAGE>
        <IMAGE>no_image.png</IMAGE>
        <IMAGE>boton.png</IMAGE>
        <IMAGE>no_image.png</IMAGE>
        <IMAGE>no_image.png</IMAGE>
        <IMAGE>no_image.png</IMAGE>
        <IMAGE>home.png</IMAGE>
        <IMAGE>gray.png</IMAGE>
        <IMAGE>C:\Users\audio\OneDrive\Imágenes\Saved Pictures\foto Logo AVS.jpg</IMAGE>
        <IMAGE>no_image.png</IMAGE>
        <IMAGE>C:\Users\audio\OneDrive\Imágenes\Saved Pictures\foto Logo AVS.jpg</IMAGE>
        <IMAGE>no_image.png</IMAGE>
        <IMAGE>no_image.png</IMAGE>
        <IMAGE>no_image.png</IMAGE>
        <IMAGE>no_image.png</IMAGE>
        <IMAGE>no_image.png</IMAGE>
        <IMAGE>C:\Users\audio\OneDrive\Imágenes\Saved Pictures\foto Logo AVS.jpg</IMAGE>
        <IMAGE>no_image.png</IMAGE>
        <IMAGE>no_image.png</IMAGE>
        <IMAGE>no_image.png</IMAGE>
        <IMAGE>no_image.png</IMAGE>
        <IMAGE>no_image.png</IMAGE>
        <IMAGE>no_image.png</IMAGE>
        <IMAGE>no_image.png</IMAGE>
        <IMAGE>C:\Users\audio\OneDrive\Imágenes\Saved Pictures\foto Logo AVS.jpg</IMAGE>
        <IMAGE>no_image.png</IMAGE>
        <IMAGE>no_image.png</IMAGE>
        <IMAGE>no_image.png</IMAGE>
        <IMAGE>no_image.png</IMAGE>
        <IMAGE>no_image.png</IMAGE>
        <IMAGE>no_image.png</IMAGE>
        <IMAGE>no_image.png</IMAGE>
        <IMAGE>C:\Users\audio\OneDrive\Imágenes\Saved Pictures\foto Logo AVS.jpg</IMAGE>
        <IMAGE>no_image.png</IMAGE>
        <IMAGE>no_image.png</IMAGE>
        <IMAGE>no_image.png</IMAGE>
        <IMAGE>no_image.png</IMAGE>
        <IMAGE>no_image.png</IMAGE>
        <IMAGE>no_image.png</IMAGE>
        <IMAGE>no_image.png</IMAGE>
        <IMAGE>no_image.png</IMAGE>
        <IMAGE>no_image.png</IMAGE>
        <IMAGE>no_image.png</IMAGE>
        <IMAGE>no_image.png</IMAGE>
        <IMAGE>no_image.png</IMAGE>
        <IMAGE>no_image.png</IMAGE>
        <IMAGE>no_image.png</IMAGE>
        <IMAGE>no_image.png</IMAGE>
        <IMAGE>no_image.png</IMAGE>
        <IMAGE>no_image.png</IMAGE>
        <IMAGE>no_image.png</IMAGE>
        <IMAGE>no_image.png</IMAGE>
        <IMAGE>no_image.png</IMAGE>
        <IMAGE>no_image.png</IMAGE>
        <IMAGE>no_image.png</IMAGE>
        <IMAGE>no_image.png</IMAGE>
        <IMAGE>no_image.png</IMAGE>
        <IMAGE>no_image.png</IMAGE>
        <IMAGE>no_image.png</IMAGE>
        <IMAGE>no_image.png</IMAGE>
        <IMAGE>no_image.png</IMAGE>
        <IMAGE>no_image.png</IMAGE>
        <IMAGE>no_image.png</IMAGE>
        <IMAGE>no_image.jpg</IMAGE>
        <IMAGE>no_image.png</IMAGE>
        <IMAGE>no_image.png</IMAGE>
        <IMAGE>boton.png</IMAGE>
        <IMAGE>no_image.png</IMAGE>
        <IMAGE>no_image.png</IMAGE>
        <IMAGE>no_image.png</IMAGE>
        <IMAGE>home.png</IMAGE>
        <IMAGE>gray.png</IMAGE>
    </IMAGES>
</CONFIGURACION>
